@use "../../../style/colors.scss" as *;

.dropdown__menu {
  position: relative;
}

.dropdown__menu__more {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $minor-border-radius;
  cursor: pointer;
  height: 2rem;
  min-width: 2rem;
  padding: 0.35rem;
  gap: 0.25rem;
}

.dropdown__menu__more img {
  height: 1.25rem;
  width: 1.25rem;
}
.dropdown__menu__more:hover {
  background-color: rgba($accent-color, 0.16);
  color: $accent-color;
  transition: $quick-transition;
}

.dropdown__menu__sub-nav {
  position: absolute;
  z-index: 999;
  background-color: $main-light-color;
  border: $main-border;
  border-radius: $minor-border-radius;
  padding: 0.65rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  visibility: hidden;
  width: 200px;
  opacity: 0;
  transition: $medium-transition;
}

.dropdown__menu--horizontal {
  left: calc(100% + 5px);
  bottom: -10px;
  transform: translateX(-10px) translateY(0);
  -webkit-transform: translateX(-10px) translateY(0);
}

.dropdown__menu--horizontal::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
  height: 100%;
  width: 15px;
}

.dropdown__menu--vertical {
  top: calc(100% + 10px);
  right: -16px;
  transform: translateX(0) translateY(-10px);
  -webkit-transform: translateX(0) translateY(-10px);
}

.dropdown__menu--vertical::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
}

.dropdown__menu:hover > .dropdown__menu__sub-nav,
.dropdown__menu__sub-nav:hover {
  visibility: visible;
  transform: translateX(0) translateY(0);
  -webkit-transform: translateX(0) translateY(0);
  opacity: 1;
  transition: $medium-transition;
}
