:host {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 65px 1fr;
  height: 100vh;
  width: 100vw;
}

header-component {
  grid-column: 2;
  grid-row: 1;
}

main-navigation-component {
  grid-column: 1;
  grid-row: 1 / 3;
}

#content {
  grid-column: 2;
  grid-row: 2;
  margin: 20px;
  overflow-x: hidden;
}
