@use "../../../style/colors.scss" as *;

:host {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  height: 100vh;
  width: 100vw;
}

main-navigation-component {
  grid-column: 1;
  border: $main-border;
  padding: 1.25rem;
}

.content {
  grid-column: 2;
  padding: 2.5rem 3rem;
  overflow-x: hidden;
  background: $main-gradient;
}
