@use "../../../style/colors.scss" as *;

:host {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  height: 100%;
  width: 100%;
}

main-navigation-component {
  grid-column: 1;
}

.content {
  grid-column: 2;
  padding: 2.5rem 3rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background: $main-gradient;
}
