:host {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  height: 100vh;
  width: 100vw;
}

header-component {
  grid-column: 2;
  grid-row: 1;
}

main-navigation-component {
  grid-column: 1;
}

#content {
  grid-column: 2;
  margin: 20px;
  overflow-x: hidden;
}
