@use "../../../../style/colors.scss" as *;

.dropdown__menu__item {
  width: 100%;
  padding: 0.5rem;
  color: $main-text-color;
  display: block;
  border-radius: $minor-border-radius-internal;
  transition: $quick-transition;
  text-align: left;
}

.dropdown__menu__item:enabled {
  cursor: pointer;
}

.dropdown__menu__item:enabled:hover {
  background-color: rgba($accent-color, 0.14);
}

.dropdown__menu__item {
  background: none;
  border: none;
}

.dropdown__menu__item:disabled {
  color: rgba($main-text-color, 0.5);
}
