@use "../../../../style/colors.scss" as *;

.dropdown__menu__item {
  width: 100%;
  padding: 0.5rem;
  color: $main-text-color;
  display: block;
  border-radius: $minor-border-radius-internal;
  transition: $quick-transition;
  cursor: pointer;
  text-align: left;
}

.dropdown__menu__item:hover {
  background-color: rgba($accent-color, 0.14);
  color: $accent-color;
}
