@use "colors.scss" as *;

@mixin button-base {
  padding: 0.75rem 1.25rem;
  border-radius: 14px;
}

@mixin primary-button {
  @include button-base;
  border: none;
  background: $hero-gradient;
  color: $hero-text-color;
}

@mixin secondary-button {
  @include button-base;
  background-color: #fff;
  border: $main-border;
}
