// Colors
$hero-dark-color: rgb(32, 41, 79);
$hero-light-color: rgb(79, 70, 229);
$hero-text-color: rgb(246, 248, 251);

$main-dark-color: rgb(246, 248, 251);
$main-light-color: rgb(255, 255, 255);
$main-border-color: rgb(226, 231, 239);
$main-text-color: rgb(31, 42, 68);

$error-color: rgb(217, 48, 37);
$error-text-light-color: rgb(217, 48, 37);

$success-color: rgb(104, 188, 95);
$success-text-light-color: rgb(27, 116, 61);

$warning-color: rgb(246, 202, 94);
$warning-text-light-color: rgb(173, 132, 31);

$accent-color: rgb(99, 102, 241);

// Gradients
$hero-gradient: linear-gradient(135deg, $hero-dark-color, $hero-light-color);
$hero-gradient-minor: linear-gradient(145deg, $accent-color, $hero-light-color);
$main-gradient: linear-gradient(140deg, $main-dark-color, $main-light-color);

// Borders
$main-border: 1px solid $main-border-color;
$minor-border: 1px solid $main-border-color;
$minor-border-radius: 0.4rem;
$minor-border-radius-internal: 0.2rem;
$major-border-radius: 1rem;

// Transitions
$quick-transition: 0.2s ease;
$medium-transition: 0.3s ease;

// Effects
@mixin box-shadow {
  box-shadow: 0px 4px 16px rgba($hero-dark-color, 0.05);
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

// Fonts
@font-face {
  font-family: Manrope;
  src: url(Manrope-VariableFont_wght.ttf);
}

$font-sans: Manrope, Helvetica, Arial, sans-serif;

$normal-text: 0.95rem;
$small-text: 0.75rem;
