:host {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
}

.kb-content {
  grid-column: 2;
  grid-row: 2;
}
app-kb-search {
  grid-column: 2;
  grid-row: 1;
}
app-kb-sidebar {
  grid-column: 1;
  grid-row: 1 / span 2;
}
