@use "style/colors.scss" as *;

:root {
  interpolate-size: allow-keywords;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-size: $normal-text;
}

html,
body {
  background-color: $main-light-color;
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}
