@use "style/colors.scss" as *;
@use "style/fonts.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-size: 1rem;
}

body {
  background-color: $main-gradient;
}

h1 {
  font-weight: 900;
  font-size: 2.1rem;
  line-height: 3rem;
}
