@use "style/colors.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  font-size: $normal-text;
}

body {
  background-color: $main-light-color;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

button {
  border: none;
  background: none;
}
