@use "../../../style/colors.scss" as *;

.panel {
  border-radius: $major-border-radius;
  @include box-shadow;
  border: $minor-border;
  transition: $quick-transition;
  overflow: hidden;

  &:not(.noPadding) {
    padding: 1.25rem 1.5rem;
  }

  &.sticky {
    position: sticky;
  }
}

.main {
  background-color: $main-light-color;
}

.hero {
  background: $hero-gradient;
}

.selected {
  box-shadow: inset 0 0 0 1px $accent-color;
  background-color: rgba($accent-color, 0.02);
}

.hoverable:hover {
  transform: translateY(-4px);
}
