@use "../../../style/colors.scss" as *;

.panel {
  border-radius: $major-border-radius;
  @include box-shadow;
  padding: 1.25rem 1.5rem;
}

.main {
  background-color: $main-light-color;
}

.hero {
  background: $hero-gradient;
}
