@use "../../../style/colors.scss" as *;

:host {
  border-right: $main-border;
}
nav {
  background-color: $main-light-color;
  color: $main-text-color;
  height: 99%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.nav__header {
  border-bottom: $main-border;
  padding: 1.25rem;
  background-color: $main-dark-color;

  a {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    color: inherit;
  }
}

.nav__header__logo {
  height: 2rem;
  width: 2rem;
  object-fit: contain;
  border-radius: $minor-border-radius;
}

.nav__header__title {
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 700;
  height: 100%;
  @include compact-text;
}

.nav__main-navigation {
  padding: 0.5rem 0.45rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nav__main-navigation__title {
  font-weight: 700;
  font-size: 0.85rem;
  padding: 0 0.2rem;
}

.nav__main-navigation__items,
.nav__sub-navigation__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1rem;

  li {
    width: 100%;
  }
}

.nav__main-navigation__items a,
.nav__sub-navigation__title,
.nav__sub-navigation__items a {
  padding: 0.6rem 0.8rem;
  color: $main-text-color;
  text-decoration: none;
  display: block;
  border-radius: $minor-border-radius;
  transition: $quick-transition;
  cursor: pointer;
  font-weight: 500;
}

.nav__main-navigation__items a.active {
  background-color: rgba($accent-color, 0.08);
}

.nav__main-navigation__items a:hover,
.nav__sub-navigation__title:hover {
  background-color: rgba($accent-color, 0.14);
  color: $accent-color;
}

.nav__sub-navigation {
  position: relative;
  width: 100%;
}

.nav__sub-navigation__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  svg {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    transition: $medium-transition;
  }
}

.nav__sub-navigation__items {
  margin-left: 1rem;
  margin-top: 0.25rem;
  padding-left: 0.6rem;
  border-left: $main-border;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  transition: $medium-transition;
  transform: translateX(0) translateY(-10px);
  -webkit-transform: translateX(0) translateY(-10px);
}

.nav__sub-navigation--open {
  .nav__sub-navigation__items {
    visibility: visible;
    opacity: 1;
    height: auto;
    transform: translateX(0) translateY(0);
    -webkit-transform: translateX(0) translateY(0);
  }

  svg {
    transform: rotate(180deg);
  }
}

.nav__actions {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: $main-border;
  padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.nav__actions__user-info {
  font-weight: 600;
  font-size: 0.9rem;
}
